<script lang="ts">
	import { formatDate } from "./format";
	import type { PostMetadata } from "./server/posts";

	export let meta: PostMetadata;
</script>

<div class="post-header">
	<h1>{meta.title}</h1>
	<div class="meta">Posted on {formatDate(meta.posted)}</div>
</div>

<style>
	.post-header {
		margin-bottom: 1em;
	}

	.meta {
		color: gray;
	}
</style>
