<script lang="ts">
	import { formatDate } from "./format";
	import type { Post } from "./server/posts";

	export let post: Post;
</script>

<a href="/posts/{post.meta.slug}" class="post">
	<h2>{post.meta.title}</h2>
	<div class="summary">
		{post.meta.summary}
	</div>
	<div class="meta">
		Posted on {formatDate(post.meta.posted)} | Tags: Tag list
	</div>
</a>

<style>
	.post {
		text-decoration: none;
		color: inherit;
	}

	.meta {
		font-size: 0.6em;
		color: gray;
	}
</style>
