<script lang="ts">
	let menuActive = false;
	let searchActive = false;
</script>

<header class="site-header">
	<div class="container">
		<div class="header_start">
			<a href="/" class="brand">
				<img src="/images/shipwreck.png" height="64" width="64" alt="Logo" />
				Sunk.io
			</a>
		</div>
		<div class="header_end">
			<nav class="nav">
				<button
					on:click={() => (menuActive = !menuActive)}
					class="nav_toggle"
					aria-expanded="false"
					type="button"
				>
					<div class="line" />
					<div class="line" />
					<div class="line" />
				</button>
				<ul class:active={menuActive}>
					<li class="nav_item">
						<a href="/posts">Posts</a>
					</li>
				</ul>
			</nav>
			<div class="search">
				<button
					on:click={() => (searchActive = !searchActive)}
					class="search_toggle"
					aria-label="Open search"
				>
					Search
				</button>
				<form action="" class="search_form" class:active={searchActive}>
					<label class="sr-only" for="search">Search</label>
					<input
						type="search"
						name=""
						id="search"
						placeholder="Search for a post"
					/>
				</form>
			</div>
		</div>
	</div>
</header>

<style>
	:root {
		--nav-font-size: 1.5em;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	header {
		position: relative;
	}

	.header_end {
		display: flex;
		align-items: center;
	}

	header > .container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	@media (min-width: 800px) {
		header > .container {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.brand {
		display: flex;
		align-items: center;
		gap: 0.4em;

		font-family: var(--heading-font);
		font-size: 4rem;
	}

	.brand img {
		display: inline;
	}

	nav {
		font-size: var(--nav-font-size);
	}

	nav li {
		list-style: none;
	}

	@media (max-width: 799px) {
		nav > ul {
			background-color: #d9f0f7;
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			z-index: 1000;
			visibility: hidden;
			opacity: 0;
			transform: translateY(-100%);
			transition: transform 0.3s ease-out, opacity 0.3s ease-out;
		}
		nav > ul.active {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}

	.nav_item a {
		display: block;
		padding: 1.5rem 1rem;
	}

	/* Navigation Toggle */
	.nav_toggle {
		display: none;

		background: none;
		border: none;
		padding: 0;

		height: 26px;
		width: 32px;

		flex-direction: column;
		justify-content: space-between;
	}
	.nav_toggle .line {
		display: block;
		height: 4px;
		width: 100%;
		border-radius: 10px;
		background: black;
	}
	@media (max-width: 799px) {
		.nav_toggle {
			display: flex;
		}
	}

	/* Search Widget */
	.search {
		display: flex;
	}
	@media (max-width: 799px) {
		.search {
			order: -1;
		}
	}

	.search_toggle {
		appearance: none;
		order: 1;
		font-size: 0;
		width: 34px;
		height: 34px;
		background: url("/images/search.svg") center/22px no-repeat;
		border: 0;
	}
	@media (min-width: 800px) {
		.search_toggle {
			border-left: 1px solid #979797;
			padding-left: 10px;
		}
	}
	@media (max-width: 799px) {
		.search_toggle {
			/* position: absolute;
			right: 5.5rem;
			top: 0.65rem; */
			background: url("/images/search.svg") center/22px no-repeat;
		}
	}

	.search_form {
		display: none;
	}
	.search_form.active {
		display: block;
	}
	@media (max-width: 799px) {
		.search_form {
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			background-color: red;
		}
	}

	.search_form input {
		min-width: 200px;
		appearance: none;
		border: 0;
		background-color: #fff;
		border-radius: 0;
		font-size: 16px;
		padding: 0.5rem;
	}
	@media (max-width: 799px) {
		.search_form input {
			width: 100%;
			border-bottom: 1px solid #979797;
		}
	}
</style>
