:root {
	--max-container-width: 1200px;

	--heading-font: "amatic_bold", sans-serif;
	--body-font: Verdana, Geneva, sans-serif;
}

@font-face {
	font-family: "amatic_regular";
	src: url("/fonts/amatic-regular.woff2"), url("/fonts/amatic-regular.woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "amatic_bold";
	src: url("/fonts/amatic-bold.woff2"), url("/fonts/amatic-bold.woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: var(--body-font);
	font-size: 1.2rem;
}

.container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.sr-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
}

h1 {
	font-size: 4rem;;
}

h2 {
	font-size: 2.5rem;
}
