<script lang="ts" context="module">
	import PostHeader from "$lib/PostHeader.svelte";
	import type { PostMetadata } from "$lib/server/posts";

	export const meta: PostMetadata = {
		slug: "fancy-post",
		title: "Fancy Post",
		summary: "This is the summary of the fancy post",
		posted: new Date(2023, 8, 19)
	};
</script>

<PostHeader {meta} />

This is a fancy post
